[Unit]
Description=Comprobar periódicamente nuevas versiones de Aether

[Timer]
OnBootSec=90s
OnUnitActiveSec=60s
AccuracySec=15s
Persistent=true
Unit=aether-platform-deploy.service

[Install]
WantedBy=timers.target
