:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3000
	}

	handle /socket.io/* {
		reverse_proxy api:3000
	}

	handle /uploads/* {
		reverse_proxy api:3000
	}

	handle /health {
		reverse_proxy api:3000
	}

	handle {
		reverse_proxy web:3001
	}
}
